body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .justified-text {
    text-align: justify;
    padding: 6px;
  }

  .background {
    background-color: #d4e2ea;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 30px;
  }

  .buttons {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 10vh;
  }
  
  .left-section {
    flex: 1;
    padding: 20px;
  }
  
  .right-section {
    flex: 1;
    background-image: url('/imgs/robotik.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 15px;
    width: 20vh;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 2em;
    padding: 5px;
  }
  
  h2 {
    font-size: 1.5em;
    padding: 5px;
  }

  h3 {
    font-size: 1.5em;
    padding: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 20px;
    }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .gif-section {
    text-align: center;
    padding: 20px;
  }
  
  .gif-section img {
    max-width: 100%;
  }
  
  .video-section {
    text-align: center;
    padding: 20px;
  }
  
  .video-section video {
    max-width: 100%;
    padding: 20px;
  }

  
  .photo-section {
      text-align: center;
      padding: 28px;
  }
  
  .photo-section img {
   max-width: 100%;
  }

  .button-section1 {
    text-align: center;
    padding: 20px;
  }
  
  .button1 {
    flex: 1;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 50px;
  }

  .button-section2 {
    text-align: center;
    padding: 20px;
  }
  
  .button2 {
    flex: 1;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .button-section3 {
    text-align: center;
    padding: 20px;
  }
  
  .button3 {
    flex: 1;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .background2 {
    background-color: #355161;
  }
  
  .circular-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0077B5;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 50px;
    margin-bottom: 20px;
}

.circular-button:hover {
    background-color: #00578B;
    transform: scale(1.1);
}

#typing-text {
  border-right: 2px solid #000; /* Cursor effect */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow to simulate typing effect */
}

body {
  font-family: Arial, sans-serif;
}

.container2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
label, input, textarea {
  display: block;
  margin-bottom: 10px;
}
textarea {
  height: 100px;
}

button_contact {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}